/* Reset globale margin and padding */
*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Settings html and body */
html,
body {
    height: 100%;
    width: 100%;
    font-family: Arial, sans-serif;
    background-color: #fff;
}

/* variables.. */
:root {
    --font-size: 16px;
    --background-color: #fff;
}

/* Extra root styles */
html {
    font-size: 16px;
    scroll-behavior: smooth;
}
